@import "~styles/helpers.scss";

html[dir="rtl"] .bg {
    @supports (background-blend-mode: overlay) {
      background-blend-mode: overlay;
      background-size: cover;
      background-position: center;
      background-image: url('../../assets/imgs/nir2.jpeg'), linear-gradient(90deg,rgba(#fff,0.6),rgba(#fff,1));
    }
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    padding-bottom: 100%;
    @include media($sm) {
        display: block;
    }
}


html[dir="rtl"] .top,.bottom,.main {
  margin-top:3rem;
  border-right:4px solid $color-accent-dark;
  padding-right:1.5rem;
}
html[dir="rtl"] .aboutText {
    width: 100%;
    line-height: 2;

    @include media($md) {
        width: 65%;
            padding: 0 2rem;
    }
    p {
        font-size: 1.8rem;
        font-family: $font;
        text-align: justify;
        @include media($sm) {}
    }
}

