@import "~styles/helpers.scss";

.section {
    padding: 3rem 1.5rem;
    display: flex;
    flex-flow: column;
    margin-bottom: 6rem;
}

.title {

 @extend .sectionTitle;

}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;

    @include media($sm) {
      flex-flow:row wrap;
    }

}

.itemText {
    line-height: 2;
    font-family: $font;
    font-size: 1.7rem;
    margin-top: 2rem;

    text-align: center;

        @include media($lg) {
    max-width: 65%;

        }
flex:1;
}

.item {
    @extend .flex-cols;
    @extend .flex-center;
    margin:1.5rem 0;
    @supports (mix-blend-mode: multiply) {
    mix-blend-mode: multiply;
    }
    @include media($sm) {
      margin:1.5rem;
      flex: 1 0 calc(50% - 3rem);
    }
    @include media($md) {
      margin:1.5rem;
      flex: 1 0 calc(33% - 3rem);
    }
    align-self: stretch;

}
.itemTitle {
    margin-top: 2rem;
    font-family: 'Assistant';
    font-size: 1.8rem;
    font-weight: 600;

}

.DatesCircle {
    fill: #F47D20;
}
.LocationCircle {
    fill: #59C6D2;
}
.TransportCircle {
    fill: #A8D048;
}
.HotelCircle {
  fill: #A782BB
}
.FlightsCircle {
  fill: #55C2EF;
}



