.wrapper {
    @extend .flex-center;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: +1000;
    margin-bottom: 10rem;
    border-radius: 2px;
    display: none;
    @include media($sm) {
      display: flex;
    }
}

.inner {
    background: rgba(white,0.8);
    @extend .flex-center;
    @extend .flex-cols;
    @include media($sm) {
      flex-flow:row wrap;
    }
    padding: 3rem;
    border: 15px solid;
    border-image: linear-gradient(90deg, rgb(67, 52, 166) 30%, rgb(20, 4, 72) 70%) 1;
}

.item {
    margin-right: 1.5rem;

    &:last-of-type {
        margin-left: 1.5rem;
    }
}

.textInput.input {
    @extend %hebInput
}

.countries.dropdown {
    font-family: $font;

    input {
        font-family: $font;
    }

    .values li {
        font-family: $font;
        font-size: 1.6rem;
    }
    span {
      color:$color-primary !important;
    }
}

.btn {
    @extend .btn;
    height: auto;
    background: #221d55;
    @include media($sm) {
      max-width: 75px;
      margin-right: auto;
    }
}
html[dir="rtl"] .label {
  @extend .sectionTitle;
padding:2rem;
display:block;
width:calc(100% + 3rem);
  margin:0;
  font-family:$font;
  font-size:1.6rem;
  color:#222;
  &:after {
        bottom: 30%;
  }
}

.sendRow {
    @extend .item;
    @extend .flex-center;
    flex: 1 0 100%;
    margin-top: 2rem;
}