.title {
  font-size: 1.8rem;
  font-family: Assistant;
  text-align: center;
  margin:3rem;
  h2 {
    margin:1.5rem 0;
    font-size:1.5rem;
  }
}
.terms {
  flex-flow: column;
align-items: center;
justify-content: center;
font-size: 1.6rem;
font-family: Assistant;
line-height: 2;
text-align: justify;
> div {
  margin-top:1.5rem;
}
}