@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
      transform: scale(1);
        opacity: 1;
    }

}


@keyframes fadeOut {
    from {
        opacity: 1;
        transform:scale(1);
    }

    to {
      transform:scale(0);
        opacity: 0;
        position: absolute;
    }

}


@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}