@import "./preloader.scss";
@import "./mixins.scss";
@import "./reset.scss";

body {
    font-size: 62.5%;
    direction: rtl;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
body {
  // time picker hack, it can't be accessed
  // a patch has been made in the dev branch of react toolbox
  // for the time being..
  > div:not(#root):not(#loaderWrapper) {
    direction: ltr;

  button#right {
      transform: rotate(-180deg);
  }

  button#left {
      transform: rotate(180deg);
  }
  }
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  // min-height: 100vh;
}



.center-text {
  margin-top:5rem;
  @extend .flex-center;
  font-size: 1.8rem;
  font-family: $font;
  width:100%;
  height:100%;
}
[dir=rtl] .slick-slide {
    float: left !important;
}

.loader-box {
    @extend .flex-center;
    @extend .flex-cols;
    width: 100%;
  height: calc(90vh - 10rem);
}






