@import "./vars.scss";
@import "./flex.scss";
@import "./mixins.scss";
@import "./theme.scss";
@import "./animations.scss";

.container {
    max-width: 90%;
    margin: auto;
    @include media($sm) {
        max-width: calc(#{$sm} - 5rem);
    }
    @include media($md) {
            max-width: calc(#{$md} - 10rem);
    }
    @include media($lg) {
    max-width: calc(#{$lg} - 15rem);
    }
}


%shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

%Page {
    @extend .container;
    margin: 0 auto;
    padding: 3rem 0;
}


.pageWrapper {

  margin-top: 5.6rem;
  top:5.6rem;
  padding-top: 6rem;
  @include media($sm) {
    margin-top: 6.4rem;
  }
}


.pageInner {
    // opacity: 0;
    // animation: fadeInPage .25s forwards ease-in;
    @extend .container;
    @extend .flex-center;
    @extend .flex-cols;
    padding: 3rem 1.5rem;
    min-height: calc(95vh - 12.5rem);
    @include media($sm) {
        flex-flow: row;
        justify-content: flex-start;
    }
}

html[dir="rtl"] .pageHeader {
      @extend .flex-center;
      flex: 1;
      height: 10vh;
      width: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      // background: linear-gradient(145deg, #a045fb, #7d14e6);
      // background: linear-gradient(145deg, $color-primary, $color-primary-dark);
        background:linear-gradient(145deg,$palette-deep-purple-800, $palette-indigo-500);
      position: fixed;
      top: 5.6rem;
      z-index: +1;
      @include media($sm) {
          top: 6.4rem;
      }
      h4 {
          text-align: center;
          user-select: none;
          font-size: 1.8rem;
          font-family: $font;
          font-weight: 500;
          color: #fff;
      }
}



.btn  {
  width: 15rem;
  height: 5rem;
  // background: $palette-deep-purple-a400;
  background: $color-accent-dark;
  color:#fff !important;
  font-size: 1.7rem;
  font-weight: 500;
  &:hover {
    background: #60f616 !important;
    color: #222 !important;
  }
}

.sectionTitle {
      padding: 3rem 0;
      font-family: $font;
      width: 100%;
      text-align: center;
      font-size: 2.1rem;
      font-weight: bold;
      position: relative;
      margin-bottom: 1.5rem;
    &:after {
      position: absolute;
      content: "";
      bottom: 25%;
      left:calc(50% - 3.5rem / 2);
      height: 2px;
      width:3.5rem;
      background: #60f616;
    }
}



.coverInner {
    @extend .container;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  h4 {
      margin: auto;
  }
}



.hebDatePicker {
  .calendar {
      .dialog {
          .header {
              background: $color-accent-dark;
          }
      }
  }

  .next {
      transform: rotate(-180deg);
  }

  .prev {
      transform: rotate(180deg);
  }

  .date,
  .title {
      font-size: 1.8rem !important;
      font-family: $font;
  }
}

.hebCheckbox {
      // right: 0 !important;
      // left: inherit !important;
      // position: absolute !important;
      // bottom: -15%;
      // @include media(1300px) {
      //   bottom: -25% !important;
      // }

      > div:after {
          left: 0.4rem !important;
          border-right-width: 2px !important;
          border-left: 0 !important;
          transform: rotate(45deg) !important;
          right: inherit !important;
          border-left-width: inherit !important;
          border-right: 2px solid #fff !important;
      }
      font-family: $font;

      .label {
          font-family: $font;
      }

      .inputElement {
          border-radius: 0 !important;
            -webkit-border-radius: 0;
          font-family: $font;
      }
}


%hebInput {
    .label {
        font-family: $font;
    }

    .icon {
        color: $color-primary !important;
    }

    // .label {
    //     color: $color-primary !important;
    // }

    .bar {
        &:after,
        &:before {
            background: $color-primary !important;
        }
    }
    .inputElement {
        font-family: $font;
        border-radius: 0 !important;
          -webkit-border-radius: 0;
    }
}



%radioBtn {
  font-family: $font;

  .text {
      font-family: $font !important;
  }

  .label {
      font-family: $font;
  }

  .inputElement {
      font-family: $font;
      border-radius: 0 !important;
        -webkit-border-radius: 0;
  }
}
%radio {
    font-family: $font;

    .text {
        font-family: $font !important;
    }

    .label {
        font-family: $font;
    }

    .inputElement {
        font-family: $font;
        border-radius: 0 !important;
          -webkit-border-radius: 0;
    }
}



%devBrand {
  transition:all .2s ease-in;
  color:rgba(black,0.2);
  &:hover {
    color:rgba(black,1);

  }
}
