$color0: $palette-indigo-500; // Main Primary color */
$color1: darken($color0,10%);
$color2: darken($color1,10%);
$color3: darken($color2,10%);
$color4: darken($color3,10%);
$width: 50;
$height: 50;
$margin: 0;
$dur: 2.5s;
$m: unquote(($margin * 2) + 'px');
$w: unquote($width + 'px');
$h: unquote($height + 'px');
$hm: unquote((($margin * 2) + $height) + 'px');
$wm: unquote((($margin * 2) + $width) + 'px');

html[dir="rtl"] #loaderWrapper {
  pointer-events: none;
  z-index: -1;
  direction: ltr;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
}
html[dir="rtl"]  #loader {
  flex:1;
  max-width: 100px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

html[dir="rtl"]  .box {
  flex: 0 1 calc(50% - #{$m});
  margin: unquote($margin + 'px');
  max-width: unquote($width + 'px');
  height: unquote($height + 'px');
}

html[dir="rtl"]  #one {
  background: $color1;
  animation: one $dur infinite;
}

@keyframes one {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translatex($w);
  }
  50% {
    transform: translate($w, $hm);
  }
  75% {
    transform: translate(0, $hm);
  }
  100% {
    transform: translate(0, 0);
  }
}

html[dir="rtl"] #two {
  background: $color2;
  animation: two $dur infinite;
}

@keyframes two {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translatey($hm);
  }
  50% {
    transform: translate(-$w, $hm);
  }
  75% {
    transform: translate(-$w, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

html[dir="rtl"]  #three {
  background: $color3;
  animation: three $dur infinite;
}

@keyframes three {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translatey(-$hm);
  }
  50% {
    transform: translate($w, -$hm);
  }
  75% {
    transform: translate($w, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

html[dir="rtl"]  #four {
  background: $color4;
  animation: four $dur infinite;
}

@keyframes four {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translatex(-$w);
  }
  50% {
    transform: translate(-$w, -$hm);
  }
  75% {
    transform: translate(0, -$hm);
  }
  100% {
    transform: translate(0, 0);
  }
}