@import "~react-toolbox/lib/colors"; //-- Color configuration
$color-divider: $palette-grey-200 !default;
$color-background: $color-white !default;
$color-text: $palette-grey-900 !default;
$color-text-secondary: $palette-grey-600 !default;
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-indigo-a200 !default;
$color-accent-dark: $palette-indigo-a400 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default; //-- Sizing
$unit: 1rem !default; /// appbar
$appbar-color: linear-gradient(145deg,$palette-indigo-500,$palette-deep-purple-800);
// $appbar-color: darken($color-primary-dark,5%) !default;
$appbar-contrast: $color-primary-contrast !default;
$appbar-title-total-distance: 8 * $unit !default;
$appbar-height: 6.4 * $unit !default;
$appbar-height-m-portrait: 5.6 * $unit !default;
$appbar-height-m-landscape: 4.8 * $unit !default;
$appbar-h-padding: 2.4 * $unit !default;
$input-text-highlight-color: #fff !default;
$preferred-font: "Assistant";

