@import "~styles/helpers.scss";

.form {
    @extend .flex;
    flex-flow: column;
    @include media($sm) {
        flex-flow: row wrap;
    }
    justify-content: center;
    align-items: center;
}

.row {

    border-top: 4px solid $color-accent-dark;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 3rem 2rem;
    // min-height: 150px;
    width:100%;
    @include media($sm) {
      align-self: stretch;
      width:auto;
          flex: 1 0 calc(50% - 8rem);
        flex-flow: row wrap;
    }
}
.subrow {
@extend .flex-center;
@extend .flex-cols;

}
.rowTitle {
    @extend .sectionTitle;
        align-self: baseline;
    width: 100%;
}

.rowInner {
    width: 100%;
    @extend .flex-center;
    flex-flow: column;

    h4 {
        margin: auto;
    }
    @include media($sm) {
        flex-flow: row;
    }

    > * {
        margin: 0 3rem;
    }
}

.saveBtn.button {
  margin-top:3rem;
    @extend .btn;
    flex: 1 0 100%;
}



.digits {
    // max-width: 45px;
    text-align: center;
}

.fullWidth {
    flex: 1 0 100%;
}

html[dir="rtl"] .isFlexable {
  @extend .hebCheckbox;
}

.datePicker {
    @extend .hebDatePicker;
}


html[dir="rtl"] .time {

  .dialog {
      direction: ltr !important;
  }
  direction: ltr !important;
  .header{
    direction: ltr;
  }
  .hours {
    direction: ltr;
  }
}
.textInput.input {
  @extend %hebInput;
}

.cols {
    @extend .flex-cols;
}

.label {
    font-family: $font;
    font-size: 1.6rem;
        white-space: nowrap;
}

.saveBox {
    margin: 3rem 0;
}

.countries.dropdown {
    .values li {
        font-family: $font;
        font-size: 1.6rem;
    }
}

.rowFull {
  @extend .row;
    flex: 1 0 100%;
  }