@import "~styles/helpers.scss";

html[dir="rtl"] .textInfo {
    @extend .flex-center;
    @extend .flex-cols;
    margin-top: 3rem;
    font-size: 1.6rem;
    font-family: $font;
    line-height: 2;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    flex: 1;
    order: 1;
    @include media($sm) {
        order: 2;
        margin-top: 0;
        margin-right: 3rem;
    }
}

.sections {
    display: flex;
    flex-flow: column;
    @extend .container;
}


.bg {
    @supports (background-blend-mode: overlay) {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: -1;
        right: 0;
        height: 70vh;
        background-size: cover;
        background-blend-mode: overlay;
        background-position: top;
        background-image: url('../../assets/imgs/contact2.jpg'), linear-gradient(-180deg,rgba(#fff,1),rgba(#fff,0.5));
    }
}