@import "~styles/helpers.scss";

.socials {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top:5rem;
    @include media($md) {
        // width: auto;
        // justify-content: space-between;
    }
}

.svg {
    width: 50px;
    height: 50px;
    cursor: pointer;

}



.FacebookCircle {
  fill: #547BBD;
}

.InstaCircle {
    fill: #696969;
}

.YoutubeCircle {
    fill: #E9644B;
}

.icon {
  mix-blend-mode: multiply;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}