
.home {
  animation: fadeIn .2s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cover {
    z-index: +50;
    // margin-top:4.6rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    justify-content: flex-start; // min-height: calc(480px - 60px);
    background-size: cover;
    background-repeat: no-repeat;
    background: $color-accent-dark;
    height: 55vh;
    background-size: cover;
@include media(0px,$sm) {
  @media all and (orientation: landscape) {
    min-height: 65vh;
  }
}
    @include media($sm) {
    height: 100vh;
      background-size: 110%;

    }
}

.coverText {
    position: relative;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    z-index: +900;
    font-family: $font;
}

.sections {
    display: flex;
    flex-flow: column;
    @extend .container;
}

.bgRight {
  display: none;
  @supports (background-blend-mode: overlay) {
    display: block;
    background-blend-mode: overlay;
    background-image: url('../../assets/imgs/bg2.jpg'),  linear-gradient(360deg,rgba(255, 255, 255, 0.5), white);
    background-size:cover;
    right:0;
    bottom:20vh;
    height:35vh;
    background-position: 0;
    background-repeat: no-repeat;
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    @include media($sm) {
      bottom: 40vh;
    }

  }

}

.home {
  position: relative;

}
