.svg {
    width: 75px;
    height: 75px;
    @include media($sm) {
      width: 150px;
      height: 150px;  
    }
    -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
}

.icon {
    fill: #fff;
}

.circle {
    fill: blue;
}
