@import "~styles/helpers.scss";


.footerActions.cardActions {
  border-top:1px solid #ccc;
  justify-content: space-between;
}

.intro {
  width: 100%;
  padding: 2rem;
  margin-top:3rem;
  margin-bottom:3rem;
  font-weight: 500;
  text-align: center;
  font-family: $font;
  font-size: 2rem;
}
.pageTabs.tabs {
  width:100%;
  outline: 0;
  .tab {
    font-size: 1.8rem;
    outline: 0;
    font-family: $font;
  }
  min-height: 75vh;
}
.tabs {
  width:100%;
}
