@import "~styles/helpers.scss";
.hide {
display:none;
}
.footer {

  border-top:1px solid #ccc;
  width:100%;
  span, a {
    font-family: $font;
    font-size: 1.4rem;
  }
}

.footerInner {
  @extend .flex;
  @extend .container;
  padding: 1rem;
justify-content: space-between;
}


.devBrand {
 @extend %devBrand;
}

html[dir="rtl"] .brand {
  @extend .flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #222;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    margin-left:2rem;
  }
}