@import "~styles/helpers.scss";

//
// .bg {
//     z-index: +1000;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     height: 100vh;
//     display: flex;
//     align-items: flex-end;
//     position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: -1;
//   background-color:rgba($color-primary,0.4);
//   @supports (  background-blend-mode: luminosity) {
//       background-blend-mode: luminosity;
//   }
//     @include media(0px,$sm) {
//          @media all and (orientation: landscape){
//             min-height: 65vh;
//         }
//     }
//     @include media($sm) {
//       // background-attachment: fixed;
//
//         height: 100vh;
//     }
//     width: 100%;
//     z-index: +1;
//
// }
// .slogan {
//   position: relative;
//   z-index: +1000;
//   color:#fff;
//   font-family: $font;
//     display: flex;
//     flex-flow: column;
//     justify-content: center;
//     font-size:1.6rem;
//   @include media($md) {
//         font-size: 2.2rem;
//   }
// }
//
// .logoBox {
//   margin-top: 8rem;
//   @extend .flex;
//   justify-content: space-between;
// }
// html[dir="rtl"] .svg {
//   width:135px;
//   height:135px;
//   margin-right:3rem;
//   @include media($md) {
//     width:200px;
//     height:200px;
//   }
//   position: relative;
//   z-index: +1000;
//
// }




html[dir="rtl"] .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    direction: ltr;
    z-index: +900;
    pointer-events: none;
}

.bg {
    z-index: +1000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
    display: flex;
    align-items: flex-end;

    mix-blend-mode: multiply;
    -webkit-filter:grayscale(100%) contrast(1);
    position: relative;


    @include media(0px,$sm) {
         @media all and (orientation: landscape){
            min-height: 65vh;
        }
    }
    @include media($md) {
        height: 100vh;
    }
    width: 100%;
    z-index: +1;

}

html[dir="rtl"] .box {
  @extend .flex-center;
  @extend .flex-cols;
  position: absolute;
  z-index: +1000;
  color: #fff;
  direction: rtl;
  text-align: right;
  background: rgba($color-primary,0.8);

  border-radius: 2px;
  font-size:1.4rem;
  padding:2rem;
  @include media($sm){
      font-size:1.6rem;
  }
    h1 {
        text-align: center;
        font-family: $font;
        font-weight: 500;

    }

    p {
        text-align: justify;
    }
}

.bg_a {
    @extend .bg;
    justify-content: flex-start;
    // background-position: top;

  .box {
    top:25%;
    right:0;
      margin-bottom: 4rem;
  }
}

.bg_b {
    margin: 0;
    @extend .bg;
    .box {
      bottom:25%;
      left:0;
    }
    justify-content: center;
}

.bg_c {
    @extend .bg;
    justify-content: flex-end;
    .box {
      bottom:25%;
      right:0;
    }
}


.color {
  position: relative;
  &:after {
    position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 z-index:+1;
 content:"";
 background:linear-gradient(145deg,#3f51b5,#4527a0);
   mix-blend-mode:lighten;
}
}