@import "~styles/helpers.scss";
.formTitle {
    text-align: center;
    font-size: 1.6rem;
    font-family: $font;
    margin: 1.5rem;
}
html[dir="rtl"] .form {
    width: 100%;
    order: 2;
    position: relative;
    right: 1.2rem;
    margin-bottom: 6rem;
    @include media($sm) {
        order: 1;
        margin-bottom: 0;
        right: inherit;
        max-width: 450px;
        flex: 1;
        // margin-left: auto;
    }
}

html[dir="rtl"] .formInput.input {
    flex: 1;
    margin: 0 2rem;
    font-family: $font;

    .label {
        font-family: $font;
        right: 0;
        left: inherit;
        color: $color-primary;
    }

    .icon {
        color: lighten($color-primary,15%);
        left: inherit;
        right: -4.8rem;
    }

    .inputElement {
          min-height: 50px;
        font-family: $font;
        color: #222;
        border-radius: none !important;
        -webkit-border-radius: 0;
        &:focus:not([disabled]):not([readonly]) {
            ~ .bar:after,
            ~ .bar:before {
                width: 50%;
                background-color: $color-primary;
            }

            ~ .label:not(.fixed) {
                color: $color-primary;
            }

            ~ .label > .required {
                color: $palette-red-500;
            }

            ~ .hint {
                display: block;
                opacity: 0.5;
            }

            ~ .icon {
                color: $color-primary;
            }
        }
    }
}
html[dir="rtl"] .approvedTerms  {
  font-family: $font;
    @extend .hebCheckbox;
    margin-top: 1.5rem;
    a {
      color: $color-primary;
    }
}


.link {
      font-family: $font;
      color:#222;
}
 .terms {
     font-family: $font;
  span {
    margin-right: 0.5rem;
    a {
      color: $color-primary;
    }
  }
}
html[dir="rtl"] .progress {
      right: -1.5rem;
      visibility: hidden;
  @supports (mix-blend-mode: multiply) {
    mix-blend-mode: multiply;
  }

}
.pending {
  opacity: 0.5;
}

html[dir="rtl"] .visible {
  visibility: visible;
}
html[dir="rtl"] .submitBtn.button  {
  @extend .btn;
  @supports (mix-blend-mode: multiply) {
    mix-blend-mode: multiply;
  }
  z-index: +1;
  width: 100%;
  margin-top: 1.5rem;
  right: -1.5rem;
  position: relative;

      .label {
          color: #fff;
      }

      .icon {
          margin-left: 1.5rem;
          color: #fff;
      }


}
.margin {
  margin:3rem 0;
}
.title {

      @extend .sectionTitle;
      width: 100%;
}

.hint {
  color: rgba($color-text,0.9);
}
