@import "~styles/helpers.scss";


.inner {
    @extend .pageInner;
    flex-flow: column;
}


.row {
    @extend .flex;
    flex-flow: column;
    @include media($sm) {
        flex-flow: row;
    }
    margin: 1.5rem;

    span {
      &.label, &.value {
        font-family: $font;

      }
      &.value {
        margin-right:1rem;
      }
        &.label {
            font-weight: bold;
        }
    }
}


// .row {
//     @extend .flex;
//     flex-flow: column;
//     @include media($sm) {
//         flex-flow: row;
//     }
//     margin: 1.5rem;
//
//     span {
//         // font-family: $font;
//
//
//         &.label {
//             font-weight: bold;
//         }
//     }
// }

.userInfo {
    font-family: $font;
    width: 100%;
    background: $palette-grey-100;
    padding: 3rem !important;
}

html[dir="rtl"] .rowUser {
    @extend .row;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
}

.user {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
}

.email {
    font-size: 1.6rem;
    color: #222;
}

.tel {
    font-size: 1.6rem;
    color: #222;
        margin-right: 1.5rem;
}

.footerActions.cardActions {
    border-top:1px solid #ccc;
    justify-content: space-between;
}
.user,.email,.tel {
  > div {
    display: flex !important;
  }
}
.msg {
  font-family: $font;
  font-size:1.6rem;
  line-height: 2;
  padding:1.5rem;

}

