@import "~styles/helpers.scss";

.thanksWrapper {
  @extend .flex-cols;
  @extend .flex-center;
  font-size: 1.8rem;
  font-family: $font;
  line-height: 2;
  text-align: center;
}
.form {
    @extend .flex;
    flex-flow: column;
    @include media($sm) {
        flex-flow: row wrap;
    }
    justify-content: center;
    align-items: center;
}


.row {
    flex: 1 0 calc(50% - 8rem);
    border-top: 4px solid $color-accent-dark;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    position: relative;
    flex-flow: row wrap;
    margin: 3rem 2rem;
    align-self: stretch;
}

.rowTitle {
    @extend .sectionTitle;
    width: 100%;
}

.rowInner {
    width: 100%;
    @extend .flex-center;
    flex-flow: column;

    h4 {
        margin: auto;
    }
    @include media($sm) {
        flex-flow: row;
    }

    > * {
        margin: 0 3rem;
    }
}

.saveBtn.button {
    @extend .btn;
    flex: 1 0 100%;
}

.digits {
    max-width: 45px;
    text-align: center;
}

.fullWidth {
    flex: 1 0 100%;
}

.textInput.input {
    font-family: $font;

    .text {
        font-family: $font;
    }

    .label {
        font-family: $font;
    }

    .inputElement {
        font-family: $font;
    }
}

.label {
    font-family: $font;
    font-size: 1.6rem;
}

.saveBox {
    margin: 3rem 0;
}

