@import "~styles/helpers.scss";

.appBar {
    transition: all -.15s 0.1s;
    position: relative;
    box-shadow: 0 1px 21px rgba(0, 0, 0, 0.26) !important;
    @include media($md) {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26) !important;
    }
}
.navBlank {
  box-shadow: none !important;
  background: transparent !important;
}

.hideNav {
    transform: translatey(-100%);
    transition: all 0.2s 0.1s;
}

.inner {
    @extend .container;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navigation {
    display: flex;
    height: 100%;
    padding: 0;
    display: none;
    @include media($sm) {
        display: flex;
    }
}

.pageButton.button,
.pageButton.button.accent,
.pageButton.button.flat {
    height: 100%;
    color: #fff;
    font-size: 1.8rem;
}

.link {
    position: relative;
}

html[dir="rtl"] .logo {
    display: block;
    text-align: center;
    width: 100%;
    @include media($sm) {
        max-width: 150px;
        margin-right: auto;
    }
}

html[dir="rtl"] .toggleBtn {
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 1.5rem;

    .icon {
        color: #fff;
    }
    display: block;
    // left: 30px;
    // position: absolute;
    @include media($sm) {
        display: none;
    }
}

.logoImg {
    max-width: 125px;
}

.centerLogo {
  @extend .flex-center;
  width:100%;
}
.logoBox {
svg {
    animation: fadeIn .2s forwards;
}
    @extend .flex-center;
    width: 100%;
    @include media($sm) {
        width: auto;
    }
}
@keyframes fadeIn {
  from {
  opacity: 0;

}
to {
  opacity: 1;
}
}


.logoBig {
    width: 50px;
    height: 50px;
    @include media($sm) {
      width: 80px;
      height: 80px;
        position: relative;
        top: 5px;
    }
}
.logoSvg {
    width: 50px;
    height: 50px;
    @include media($sm) {
        width: 70px;
        height: 70px;
        position: relative;
        top: -1px;
    }
}
.logoSmall {
  @extend .logoSvg;
}
.logoSvgDrawer {
  width:100px;
  height:100px;
}
html[dir="rtl"] .navDrawer.drawer {
    direction: rtl !important;
    left: inherit !important;
    right: 0;
        background: linear-gradient(145deg, $color-accent, #4A148C);
    // background: $color-accent-dark;
    border-left: 0 !important;

    .content {
        padding-top: 3rem;
        color: #fff;
        height: calc(100% - 6rem);
    }
}

html[dir="rtl"] .navItem.listItem {
    .item {
        &.selectable:not(.disabled):hover {
            cursor: pointer;
            background: rgba(0,0,0,0.5);
            opacity: 1;

            .itemText {
                color: #fff;
            }
        }

        .itemText {
            font-family: $font;
            font-weight: 500;
            font-size: 1.8rem;
            color: #fff;
            text-align: right;
        }
    }

    [data-react-toolbox="font-icon"] {
        margin-left: 2.2rem;
        margin-right: 0;
        color: #fff;
    }
}