.DatesCircle {
    fill: #F47D20;
}
.LocationCircle {
    fill: #59C6D2;
}
.TransportCircle {
    fill: #A8D048;
}
.HotelCircle {
  fill: #A782BB
}
.FlightsCircle {
  fill: #55C2EF;
}

.pageCard.card {
  margin-top:3rem;
}

.svg {
  width:50px;
  height: 50px;
}
.grid {
  @extend .flex-center;
  @extend .flex-cols;
  @include media($sm) {
  flex-flow:row wrap;
  }
}
.item {
  @extend .flex-center;
  @extend .flex-cols;

  height:100%;
  align-self: stretch;
  margin:3rem;
  flex:1;
  min-height: 150px;
  @include media($sm) {
    flex:1 0 33%;
    width: auto;

  }

}
.tabs {
  // @include media(0px,$sm) {
      // min-height: 150px;
  // }
}
.subrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font;
  margin-top:1.5rem;
  font-size:1.6rem;
  span {
    margin-top:1rem;
    margin-right: 1.5rem;
white-space: nowrap;
    &.label {
      font-weight: bold;
    }
  }
}

.itemTitle {
  @extend .sectionTitle;

}

.paragraph {
  line-height: 2;
  font-family: $font;
  font-size: 1.6rem;
}