@import "~styles/helpers.scss";

.form {
    @extend .flex;
    flex-flow: column;
    @include media($sm) {
        flex-flow: row wrap;
    }
    justify-content: center;
    align-items: center;
}

.row {
    border-top: 4px solid $color-accent-dark;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 3rem 2rem;
    // min-height: 150px;
    width: 100%;
    @include media($sm) {
        align-self: stretch;
        width: auto;
        flex: 1 0 calc(50% - 8rem);
        flex-flow: row wrap;
    }
}

.rowTitle {
    @extend .sectionTitle;
    width: 100%;
}

.rowInner {
    width: 100%;
    @extend .flex-center;
    flex-flow: column;

    h4 {
        margin: auto;
    }
    @include media($sm) {
        flex-flow: row;
    }

    > * {
        margin: 0 3rem;
    }
}

.rowDates {
    width: 100%;
    @extend .flex-center;
    flex-flow: column;

    h4 {
        margin: auto;
    }
    @include media(1300px) {
        flex-flow: row;
    }

    > * {
        margin: 0 3rem;
    }
}

.saveBtn.button {
    @extend .btn;
    flex: 1 0 100%;
}

.digits {
    max-width: 45px;
    text-align: center;
}

.fullWidth {
    flex: 1 0 100%;
}

html[dir="rtl"] .isFlexable {
    @extend .hebCheckbox;
    right: 0 !important;
    left: inherit !important;
    position: absolute !important;
    bottom: -15%;
    @include media(1300px) {
        bottom: -25% !important;
    }
}

.datePicker {
    @extend .hebDatePicker;
}

.radioBtn {
    @extend %radioBtn;
}

.radioBtn.radio {
    @extend %radio;
}

.textInput.input {
    @extend %hebInput
}

.cols {
    @extend .flex-cols;
}

.label {
    font-family: $font;
    font-size: 1.6rem;
}

.saveBox {
    margin: 3rem 0;
}

.countries.dropdown {
    .values li {
        font-family: $font;
        font-size: 1.6rem;
    }
}

.tooltip {
    width: 100%;
    right: 0 !important;
    left: inherit !important;
    position: absolute !important;
    bottom: -30%;
    font-family: "Assistant" !important;
    height: 65px;
}