
.inner {
    @extend .pageInner;

    @include media($sm) {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}

.list {
    @extend .flex-center;
    flex-flow: column;
    @include media($sm) {
      flex-flow: row wrap;
    }
    list-style: none;
}

.item {
  @extend .flex-center;
  @extend .flex-cols;
  flex:1;
  align-self: stretch;
  line-height: 2;
  margin:2rem;
  font-family: $font;
  user-select: none;

  h2 {
    font-size:1.8rem;
    margin:2rem 0;
  }
  p {
    margin:2rem 0;
    text-align: center;
    flex:1;
    margin-top:auto;
    font-size:1.7rem;
  }
}
  .innerTitle {
    @extend .sectionTitle;
}

.startButton.button {
  @extend .btn;
  margin-top:3rem;
}

.bgRight {
  @supports (background-blend-mode: overlay) {
    background-blend-mode: overlay;
    background-image: url('../../assets/imgs/bg2.jpg'),  linear-gradient(360deg,rgba(255, 255, 255, 0.5), white);
    width: 100%;
    overflow: hidden;
    height: 35vh;
    position: fixed;
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    right: 0;
    background-size: cover;
    background-position: center;
    pointer-events: none;
  }
}