
html[dir="rtl"] .section {
  @extend .flex-center;
  @extend .flex-cols;
  padding: 3rem 1.5rem 8rem;
  background:linear-gradient(145deg,$palette-indigo-500,$palette-deep-purple-800);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);

}

.inner {
  @extend .container;
  @extend .flex-center;
  @extend .flex-cols;
  color:#fff;

}
.title {
 @extend .sectionTitle;

}
.textBox {
    @extend .flex-center;
    @extend .flex-cols;
    @include media($sm) {
      justify-content: flex-start;
    }
}

.text {
    margin:1.5rem 0;
    text-align: center;
    padding:0;
    font-family: $font;
    font-size: 1.8rem;
    line-height: 2.2;
    max-width: 550px;
    margin: auto;

}