@import "~styles/helpers.scss";

html[dir="rtl"] .form {
    margin: auto;
    @extend .flex-center;
    @extend .flex-cols;
    @include media($sm) {
        flex-flow: row wrap;
    }
}
.terms {
  span {
    margin-right: 0.5rem;
  }
}
.row {
    min-width: 125px;
    margin: 1.5rem;
    flex: 1;
    @include media($sm) {
        flex: 1 0 calc(33% - 6rem);
        height: 100%;
        align-self: stretch;
    }
}

.rowInner {
    margin-top: 1.5rem;
}

html[dir="rtl"] .formInput.input {
    @extend %hebInput;

}

html[dir="rtl"] .needsSkiGear {
@extend .hebCheckbox;
}

.button {
    @extend .btn;
}

.submitRow {
    margin-top: 3rem;
    @extend .flex-center;
}

.loader {
    @extend .flex-center;
    width: 100%;
}


.datePicker {
    @extend .hebDatePicker;
}

