
.section {
  display: flex;
  flex-flow: column;
  align-items: center;
  height:100%;

    padding: 3rem 1.5rem;
}

.title {
  display: none;
    padding: 3rem 0;
    font-family: $font;
    width: 100%;
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
}

.ctaBox {
@extend .flex-center;
}

.ctaButton.button, .ctaButton.button.flat  {
  @extend .btn;
  background: rgba(black,0.5);
}

