@import "~styles/helpers.scss";

.footer {
    @extend .flex-cols;
    min-height: 35vh;
    // background: linear-gradient(145deg,darken($color-primary,15%),darken($color-primary-dark,20%));
      background:linear-gradient(145deg,$palette-indigo-600, $palette-deep-purple-900);
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
  position: relative;
@include media($sm) {
    min-height: 55vh;
}
}

.top {
    flex: 1;
    @extend .container;
    display: flex;
    justify-content: space-between;
    position: relative;
    width:100%;
    padding:2rem 0;
}

.bottom {
    // background: linear-gradient(145deg, darken($color-primary-dark,30%), darken($color-primary-dark,30%));
    height: 4.5rem;
    color: #fff;

    div {
        @extend .flex;
        @extend .flex-center-y;
        @extend .container;
        height: 100%;
        justify-content: space-between;

        span.left {
            font-size: 1.6rem;
        }


    }
}
.devBrand {
  font-size:1.5rem;
  @extend %devBrand;

  &:hover {
    color:#fff;
  }
}