@import "~styles/helpers.scss";


html[dir="rtl"] .form {
  margin:auto;
}

html[dir="rtl"] .formInput.input {
.label {
  font-family: $font;
}

.icon {
  color: $color-primary !important;
}
.label {
  color: $color-primary !important;

}
.bar {
  &:after,&:before {
    background: $color-primary !important;
  }
}
}

.submitRow {
  margin-top:3rem;
  @extend .flex-center;
}
.loader {
  @extend .flex-center;
  width:100%;
}